* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* box-shadow: 0px 5px 10px black; */
    align-items: center;

}

header {
    box-shadow: 0px 4px 8.7px #00000040;
}

.logo {
    width: 205px;
    height: 55px;

}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 11px;
}

.shop {

    border-bottom: 2px solid chocolate;
    color: chocolate;
}

.head-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 51px;

}

.btn-head {
    width: 219px;
    height: 63px;
    border: 3px solid chocolate;
    color: chocolate;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;

}

button {
    border: none;
    background: none;
    border-radius: 20px;
}

.head-div>img {
    width: 57px;
    height: 70px;

}

.section-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.Mag {
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    width: 386px;
    height: 63px;
    border-radius: 20px;
    background: #000000;
    padding: 20px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    color: white;
}

.search {
    display: flex;
    gap: 22px;

}

.search>button {
    width: 116px;
    height: 63px;
    border-radius: 20px;
    background: #0D0D5B;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;

}

.Harid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;

}

.card {
    width: 290px;
    height: 290px;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

.divp {
    display: flex;
    gap: 8px;
}

footer {
    display: flex;
    height: 65px;
    box-shadow: 0px 4px 17.9px 0px #00000040;
    border: 1px solid #BCAAAA4F;
    margin-top: 40px;

}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1440px;

}

footer>div>p {
    color: gray;

}

footer>div>p>a {
    text-decoration: underline;
}

footer>div>img {
    width: 118px;
    height: 32px;

}